.image {
 margin-left:2%;
float:left; 
height:200px;
width:200px; 
} 

.head {
    width:200px;
    height:auto;
    padding:1%;
    float:left;
}

h4{margin:0}
.left {float:left;width:200px;}
.right {float:left;margin:0 0 0 5px;width:500px;}